<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="koding, team name, generator"/>
    <meta name="description" content="Create cool name for your team using Koding Global Hackathon Team names generator! It packed with lots of features and completely OpenSource."/>

    <title>Welcome to Koding Global Hackathon Team Name Generator</title>
</head>
<body>
<div class="container">
 		
		<div class="row">
        <div class="col-md-12 text-center">
        		<h2>Voila!</h2>
        		<div class="text-center">
        		{% for variant in variants %}
        			<a style=" padding-right: 20px; font-size: 22px; " href="https://twitter.com/home?status=Go%20team%20{% for word in variant%}%23{{ word }}%20{% endfor %}%20for%20@koding%20%23hackathon%20led%20by%20@biz_ze%20https://koding.com/Hackathon">{% for word in variant%}{{ word }}&nbsp;{% endfor %}</a>
        		{% endfor %}		
        </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-12 text-center">

    		<button type="button" class="btn btn-success" onclick="javascript: document.location.reload();">Generate again!</button>
        </div>
		</div>

  			<div class="col-md-3 hidden-xs"></div>
  		</div>

  		 <div class="row">
        <div class="col-md-12 text-center">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Koding Global Hackathon  Team Name Generator -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-9423687387443767"
					     data-ad-slot="1999433626"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
        </div>	
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57055666-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>

