<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="koding, team name, generator"/>
    <meta name="description" content="Create cool name for your team using Koding Global Hackathon Team names generator! It packed with lots of features and completely OpenSource."/>

    <title>Welcome to Koding Global Hackathon Team Name Generator</title>


</head>
<body>


<div class="container">
 		<div class="row">
      <div class="col-md-6 text-center">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Koding Global Hackathon  Team Name Generator -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-9423687387443767"
				     data-ad-slot="1999433626"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
      </div>	
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
        		<h1>Koding Global Hackathon Team Name Generator</h1>
        		<h2>Create cool unique name for your coding team!</h2>
        </div>
    </div>

		<div class="row">
        <div class="col-md-12 text-center">
        		<h2>Look at this great sample<br/> truly unique randomized team names!</h2>
        		<div class="text-center">
        		{% for variant in variants %}
        			<a style=" padding-right: 20px; font-size: 22px; color: " href="https://twitter.com/home?status=Go%20team%20{% for word in variant%}%23{{ word }}%20{% endfor %}%20for%20@koding%20%23hackathon%20https://koding.com/Hackathon">{% for word in variant%}{{ word }}&nbsp;{% endfor %}</a>
        		{% endfor %}		
        </div>
    </div>

    <div class="row">
    	<div class="col-md-3 hidden-xs"></div>
    	<div class="col-md-6 col-xs-12">
    		<h2>...or generate your own!</h2>
    			<div class="well">
        		<form action="{{ url_for('pages.generate') }}" method="GET" class="form">

	        		<div class="form-group">
						    <label forid="id_numwords">Number of words to use</label>
						    <input type="number" id="id_numwords" name="num_words" value="2" class="form-control">
						  </div>
						  <div class="form-group">
						    <label forid="id_minmaxlen">Max length of words</label>
						    <input type="range" id="id_minmaxlen" min="1" max="10" step="1" defaultValue="6" name="minmax_words">
						  </div>
						  <div class="form-group">
						    <input type="checkbox" id="id_truerandom" name="true_random" checked="checked"> Truely random?</input>
						  </div>
						  <div class="form-group">
						    <input type="checkbox" id="id_usenumbers" name="use_numbers"> Use numbers?</input>
						  </div>

	        		<button type="submit" class="btn btn-success">Go Generate!</button>
        		</form>
        	</div>
  			</div>

  			<div class="col-md-3 hidden-xs"></div>
  		</div>

  		 <div class="row">
        <div class="col-md-12 text-center">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
					<!-- Koding Global Hackathon  Team Name Generator -->
					<ins class="adsbygoogle"
					     style="display:block"
					     data-ad-client="ca-pub-9423687387443767"
					     data-ad-slot="1999433626"
					     data-ad-format="auto"></ins>
					<script>
					(adsbygoogle = window.adsbygoogle || []).push({});
					</script>
        </div>	
    </div>


   


</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">


            <h2>About this site</h2>

            <p>I'm developer who take part in World's First Global Virtual Hackathon announced by <a href="http://koding.com">Koding.com</a>. My name is <a href="https://twitter.com/v_ignatyev">Vladimir</a> and I built this pretty site for 2 hours of coding while trying to give the name for my team.</p>
            <p>The site is hosted at <a href="http://herokuapp.com">Heroku</a> and made with Python programming language using <a href="http://flask.pocoo.org/docs/0.10/api/">Flask framework</a>.</p>
            <p>The generation algorithm uses <a href="http://www.nltk.org/">Natural Language Toolkit</a> for english words dictionary. The code generating all this stuff is available <a href="https://github.com/vladignatyev/kodingteamname">on GitHub</a></p>
        </div>


        <div class="col-md-6">
          <h2>About First Global Koding Hackathon</h2>
          <p>Awesome guys from Koding.com created event called World’s First Global Virtual Hackathon. </p>
          <p>As they say: <cite>This event is intended to connect developers across the globe and get them to code together irrespective of their locations. You will problem solve and build with old or new team members and try to win!</cite> </p>
          <p>Go to <a href="https://koding.com/Hackathon">Official World's First Global Hackathon page</a> to learn more and join/create teams for building DIY 48h-made products using topmost software technologies and APIs.</p>
				</div>
    </div>

    <div class="row">
        <div class="col-md-12" style="padding-top:16px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
						<!-- Koding Global Hackathon  Team Name Generator -->
						<ins class="adsbygoogle"
						     style="display:block"
						     data-ad-client="ca-pub-9423687387443767"
						     data-ad-slot="1999433626"
						     data-ad-format="auto"></ins>
						<script>
						(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-57055666-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>

